body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.size {
    max-width: 965px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

.modal-content {
    text-align: center;
}

h2 {
    color: #2c3e50;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: red;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .size {
        padding: 15px; /* Reduce padding on smaller screens */
    }

    h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    h2 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    table {
        font-size: 14px; /* Adjust font size for table */
    }

    th, td {
        padding: 10px; /* Reduce padding in table cells */
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px; /* Further reduce font size for mobile */
    }

    h2 {
        font-size: 18px; /* Further reduce font size for mobile */
    }

    table {
        font-size: 12px; /* Further adjust font size for table */
    }

    th, td {
        padding: 8px; /* Further reduce padding in table cells */
    }
}